@tailwind base;
@tailwind components;
@tailwind utilities;

$transition-delay: 0.3s;
$transition: $transition-delay ease all;
$dark: #222327;

body {
  @apply bg-bg-main p-5 text-text-main;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-theme-secondary hover:bg-theme-main;
}

.column > ::-webkit-scrollbar-thumb {
  width: 10px;
  @apply rounded-xl bg-text-main;
}

.icon {
  width: 26px;
  transition: $transition;

  fill: $dark;

  &:hover {
    cursor: pointer;
    fill: white;
  }
}

.warning-message {
  transition:
    opacity $transition-delay,
    transform $transition-delay;
  opacity: 0;
  transform: translateY(-10px);

  @apply text-bg-secondary;
}

.warning-visible {
  opacity: 1;
  transform: translateY(0px);
}

button[disabled] {
  cursor: not-allowed;
  opacity: 40%;
}

.hover {
  transition: $transition;
}

.task_hover-actions {
  transition: $transition;
  opacity: 0;
}
.visible {
  opacity: 1;
}
