@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-main text-text-main p-5;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-theme-secondary rounded hover:bg-theme-main;
}

.column > ::-webkit-scrollbar-thumb {
  width: 10px;
  @apply rounded-xl bg-text-main;
}

.icon {
  width: 26px;
  transition: 0.3s all ease;

  fill: #222327;

  &:hover {
    cursor: pointer;
    fill: white;
  }
}

.warning-message {
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(-10px);

  @apply text-bg-secondary
}

.warning-visible {
  opacity: 1;
  transform: translateY(0px);
}

.disabled {
  transition: 0.3s ease all;
  cursor: not-allowed;
  opacity: 40%;
}

